/* Remove MIN MAX CLOSE */
#TabsToolbar > .titlebar-buttonbox-container {
  visibility: collapse !important;
}

/*Basic Settings*/
:root {
  --navbarWidth     : 40vw; /* Set width of navbar. Use px for a fixed width or vw for a percentage of your window. */
  --animationSpeed  : 0.5s;
}
#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}
#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}
#urlbar-container {
  min-width   : 0px !important;
}
:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}
:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}
:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}

/* Hides back and forward button when unavilable */
#back-button[disabled="true"] { display: none !important }
#forward-button[disabled="true"] { display: none !important }
/* Hides Site information button and the shield icon */
#identity-box { display: none !important }
#tracking-protection-icon-container { display: none !important }

/* Simplifying interface */
#nav-bar {
  background  : none !important;
  box-shadow  : none !important;
}
#navigator-toolbox {
  border      : none !important;
}
.titlebar-spacer {
  display     : none !important;
}
#urlbar-background {
  border      : none !important;
}
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : none !important;
}

/* Hides the tab close buttons */
.tabbrowser-tab:not([pinned]) .tab-close-button { display: none !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display: none !important }

/*================== TABS BAR ==================*/
#PersonalToolbar {
  padding-bottom: 6px !important;
  padding-top: 1px !important;
}
toolbar#nav-bar {
  box-shadow: none !important;
  padding-bottom: 4px !important;
}
